<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dasboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
  <section class="section">
      <div class="section">
        <h2 class="is-size-2 is-centered is-family-primary mb-4">Seja bem vindo Bruno!</h2>
        <div class="columns mt-2">
          <aside class="column is-2">
            <nav class="menu">
              <p class="menu-label">
                General
              </p>
              <ul class="menu-list">
                <li><a class="is-active">Dashboard</a></li>
                <li><a>Customizar</a></li>
              </ul>
              <p class="menu-label">
                Informações cadastradas
              </p>
              <ul class="menu-list">
                <li><a>Disciplinas</a></li>
                <li><a>Anotações pessoais</a></li>
                <li><a>Calculo de nota</a></li>
              </ul>
            </nav>
          </aside>
          
          <main class="column">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <div class="title">Dashboard</div>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <button type="button" class="button is-small">
                    March 8, 2017 - April 6, 2017
                  </button>
                </div>
              </div>
            </div>
            
            <div class="columns is-multiline">
              <div class="column">
                <div class="box">
                  <div class="heading">Disciplinas</div>
                  <div class="title">+</div>
                  <!-- <div class="level">
                  </div> -->
                </div>
              </div>
              <div class="column">
                <div class="box">
                  <div class="heading">Anotações pessoais</div>
                  <div class="title">+</div>
                </div>
              </div>
              <div class="column">
                <div class="box">
                  <div class="heading">Calculo de nota</div>
                  <div class="title">+</div>
                </div>
              </div>
            </div>

            <div class="columns is-multiline">
              <div class="column is-6">
                <div class="panel">
                  <p class="panel-heading">
                    Disciplina
                  </p> 
                  <div class="panel-block">
                    <h2>Nome: Cálculo 1</h2>
                </div>
                <div class="panel-block">
                    <h2>Professor: Caike</h2>
                </div>
                <div class="panel-block">
                    <h2>Nota atual: 4/10</h2>
                </div>
                <div class="panel-block">
                    <h2>Avaliações aplicadas: 1/2</h2>
                </div>
                </div>
              </div>
              <div class="column is-6">
                <div class="panel">
                  <p class="panel-heading">
                    Anotações pessoais
                  </p>
                  <div class="panel-block">
                    <h2>Horário de atendimento do professor é só quarta feira...</h2>
                  </div>
                  <div class="panel-block">
                    <h2>Lembrar de estudar funções terça feira...</h2>
                  </div>
                </div>
              </div>
              <div class="column is-6">
                <div class="panel">
                  <p class="panel-heading">
                    Calculo de nota
                  </p>
                  <div class="panel-block">
                    <h2>Fórmula: Avaliação 1 + Avaliação 2 / 2</h2>
                  </div>
                  <div class="panel-block">
                    <h2>Prova 1: 8/10</h2>
                  </div>
                  <div class="panel-block">
                    <h2>Prova 2: ?</h2>
                  </div>
                  <div class="panel-block">
                    <h2>Média atual: 4/10</h2>
                  </div>
                </div>
              </div>
              <div class="column is-6">
                <div class="panel">
                  <p class="panel-heading">
                    Something Else
                  </p>
                  <div class="panel-block">

                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>
  </section>
  </body>
</html>